{% block body %}
{% load static %}
<!doctype html>
<html lang="en">
    {% include 'layouts/header.blade.html' %}
    {% include 'layouts/meta.blade.html' %}
    {% include 'layouts/script.blade.html' %}
    
    <body>
        <div id="throbber" style="display:none; min-height:120px;"></div>
        <div id="noty-holder"></div>
        <div id="wrapper">
        </br></br></br></br></br>

            <h1> eieieieieiiei {{testdata}}</h1>
            {% include 'layouts/sidebar.blade.html' %}
            {% include 'layouts/content.blade.html' %}
        </div>

    </body>
</html>
{% endblock %}