

<center>
<div class="container-fluid">
    <div class="row">
      <center>

      <div class="col">
        <video id="video" width="480" height="360" autoplay></video>
        <br>
        <center><button id="snap">Snap Photo</button></center>
        <progress value="0" max="10" id="progressBar"></progress>
      </div>

      <div class="col">
        <canvas id="canvas" width="480" height="360"></canvas>
      </div>

      <div class="col">
        <canvas1 id="results"></canvas1>
        <h3 id="identify-score"></h3>
      </div>

    </center> 
    </div>
</div>


<!-- <script type="text/javascript" src="webcamjs/webcam.min.js"></script> -->


<script>
    // Grab elements, create settings, etc.
    var video = document.getElementById('video');
    // Elements for taking the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');
    var data = null;
    var array = [];
    var array_stop = [];
    // Get access to the camera!
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding { audio: true } since we only want video now
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            //video.src = window.URL.createObjectURL(stream);
            video.srcObject = stream;
            video.play();
        });

    }

    document.getElementById("snap").addEventListener("click", function() {
        
        img = context.drawImage(video, 0, 0, canvas.width, canvas.height);
        var imgFile = canvas.toDataURL("image/jpeg");

        var img_array = convertDataURIToBinary(imgFile);
        console.log("img_aarar",img_array);
        var img_avg = arrayAverage(img_array);
        decisionAvgImage(img_avg, imgFile); 
    });

    function decisionAvgImage(avg_current, img_file) {
      console.log("siddd",avg_current);
      var avg_older = arrayAverage(array);
      //var avg_stop = arrayAverage(array_stop);
      var start_period = Math.abs(avg_older - 0.75);
      var end_period = Math.abs(avg_older + 0.75);

      // if ((avg_current >= start_period) && (avg_current <= end_period)) {
      if ((avg_current >= end_period)) {
        // $(document).ready(function() {
        //   $('#snap').click();
        // });
        array.push(avg_current);
        console.log("list :",array);
        //console.log("NOOOOOOOOO SNAP TOGETHER")
      }
      else {
        if ((array_stop.length) == 3) {
          sentImageToDetect(img_file); 
          //alert("PENDING RESPONSEEEEEEEEE");
          array_stop = [];
        }
        else {
          array_stop.push(avg_current);
        }
  
      }
      // array.push(avg_current);
      // console.log("list :",array);
      
    }

    function sentImageToDetect(imgFile) {

        var base64 = imgFile.substring(23);
        var binary = fixBinary(atob(base64));
        var blob = new Blob([binary], {type: 'image/jpeg'});
        var file = new File([blob], "image.png");
        let formData = new FormData();
        
        formData.append("image", file );
        //console.log("formData",formData);
        //fetch('http://127.0.0.1:5000/api/working/image-detect', {
        fetch('http://riorocker97.com/api/detect', {
            method: "POST", 
            body: formData
        }).then(response => response.json())

        .then(json => {
            // console.log("image res :",json.image);
            // console.log("identify_and_conf :",json.identify_and_conf)
            var newChild = '<img src="data:image/jpeg;base64,' + json.image+'"'+ '/>';
            var newIdenConf = '<h3>'+json.identify_and_conf+'</h3>'
            
            document.getElementById("results").innerHTML = newChild; 
            document.getElementById("identify-score").innerHTML = newIdenConf; 
          });
    }

    function lastModified() {
      var modiDate = new Date(document.lastModified);
      var showAs = modiDate.getDate() + "-" + (modiDate.getMonth() + 1) + "-" + modiDate.getFullYear();
      return showAs
    }

    function fixBinary (bin) {
      var length = bin.length;
      var buf = new ArrayBuffer(length);
      var arr = new Uint8Array(buf);
      for (var i = 0; i < length; i++) {
        arr[i] = bin.charCodeAt(i);
      }
      return buf;
    }

    function _base64ToArrayBuffer(base64) {
      var binary_string = window.atob(base64);
      var len = binary_string.length;
      var bytes = new Uint8Array(len);
      for (var i = 0; i < len; i++) {
          bytes[i] = binary_string.charCodeAt(i);
      }
      return bytes.buffer;
    }

    var BASE64_MARKER = ';base64,';

    function convertDataURIToBinary(dataURI) {
      var base64Index = dataURI.indexOf(BASE64_MARKER) + BASE64_MARKER.length;
      var base64 = dataURI.substring(base64Index);
      var raw = window.atob(base64);
      var rawLength = raw.length;
      var array = new Uint8Array(new ArrayBuffer(rawLength));

      for(i = 0; i < rawLength; i++) {
        array[i] = raw.charCodeAt(i);
      }
      return array;
    }

    function arrayAverage(arr){
    //Find the sum
      var sum = 0;
      for(var i in arr) {
          sum += arr[i];
      }
      //Get the length of the array
      var numbersCnt = arr.length;
      //Return the average / mean.
      return (sum / numbersCnt);
    }

    var timeleft = 10;
    var downloadTimer = setInterval(function(){
      if(timeleft <= 0){
        clearInterval(downloadTimer);
        $(document).ready(function() {
          var imgFile = canvas.toDataURL("image/jpeg");
          sentImageToDetect(imgFile)
        });
      }
      document.getElementById("progressBar").value = 10 - timeleft;
      timeleft -= 1;
    }, 1000);
    
    setInterval(function() {
      $(document).ready(function() {
          $('#snap').click();
      });
    }, 3000); // Wait 1000ms before running again



</script>
