<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row" id="main" >
            <div class="col-sm-12 col-md-12 well" id="content">
                <h2>Detect Object ddd <h1>{{ data }}<h1></h2> 
                    <center>
                        <!-- <video id="video" width="640" height="480" autoplay></video>
                        <button id="snap">Snap Photo</button>
                        <canvas id="canvas" width="640" height="480"></canvas>
                  
                        <canvas1 id="results"></canvas1>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                              <label for="file">Choose file to upload</label>
                              <input type="file" id="image" name="file" multiple>
                            </div>
                            <div>
                              <button>Submit</button>
                            </div>
                        </form> -->
                        <div class="container row main-container">
                            <div class="col s12 dd-container">
                              <div class="card dd-card">
                                <div class="card-content black-text file-field">
                                  <div id="drop-container">
                                    <i class="material-icons large upload-icon">cloud_upload</i>
                                    <span class="drag-txt"><b>Drag and drop image here</b></span>
                                    <span class="or-txt">or</span>
                                    <form action="#">
                                      <div class="waves-effect waves-light btn" id="browse-container">
                                        <span>Browse files</span>
                                        <input type="file" id="browse-button" accept="image/*">
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                        <div class="col s12 uf-container">
                            <div class="card uf-card">
                              <img class="card crop" id="img-card-1" />
                            </div>
                            <div class="waves-effect waves-light btn" id="upload-button">
                              <span>Upload and Detect Image</span>
                            </div>
                            <div class="waves-effect waves-light btn" id="go-back">
                              <span>Go Back</span>
                            </div>
                          </div>
                          <div class="col s12 dt-container">
                            <div class="card uf-card" id="result-image">
                            </div>
                            <div class="waves-effect waves-light btn" id="go-start">
                              <span>Go Back</span>
                            </div>
                          </div>

                          <div id="modal1" class="modal">
                            <div class="modal-content">
                              <div style="width: 100%; overflow: hidden;">
                                <div style="width: 100px; float: left;">
                                  <div class="preloader-wrapper big active">
                                    <div class="spinner-layer spinner-blue-only">
                                      <div class="circle-clipper left">
                                        <div class="circle"></div>
                                      </div>
                                      <div class="gap-patch">
                                        <div class="circle"></div>
                                      </div>
                                      <div class="circle-clipper right">
                                        <div class="circle"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="loading-text">
                                  <h5>Loading...</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                    </center> 
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>

<!-- <script type="text/javascript" src="webcamjs/webcam.min.js"></script> -->
<!-- <script>
    // Grab elements, create settings, etc.
    var video = document.getElementById('video');
    // Elements for taking the snapshot
    //var canvas = document.getElementById('canvas');
    //var context = canvas.getContext('2d');
    var video = document.getElementById('video');
    // Get access to the camera!
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            //video.src = window.URL.createObjectURL(stream);
            video.srcObject = stream;
            video.play();

        });
    }


   // Trigger photo take
    document.getElementById("snap").addEventListener("click", function() {
        //var img = new Image();
        img = context.drawImage(video, 0, 0, 640, 480);
        //img.src = URL.createObjectURL(e.target.files[0]);
        //test();
        //var canvas = document.getElementById('canvas');
       
        //send_image(img);
        var ctx  = document.createElement("canvas1");
      //  var ctx1 = ctx.getContext("2d");    
        var asd  = convertCanvasToImage(ctx);
        console.log("end asdd",typeof(asd));
        uploadImage(img);
    });

    Webcam.set({
        width: 350,
        height: 350,
        image_format: 'jpeg',
        jpeg_quality: 90
    });
    
    function convertCanvasToImage(aaa) {

        console.log("start convertCanvasToImage",aaa);
        // something = aaa[0].toDataURL("image/png");
        something = aaa.toDataURL("image/png");
        console.log("end convertCanvasToImage",typeof(something));
    }
    
    function test(){
        //etch('http://riorocker97.com/api/test')
        fetch('http://127.0.0.1:5000/api/test')
        .then(res => res.json())
        
    }
    
</script> -->



